<aside class="bg-dark">
      <div class="container text-center">
          <div class="call-to-action">
              <h2>Scarica il progetto con le istruzioni</h2>
              <a href="Attribuzione 3.0 Italia (CC BY 3.0 IT) " class="btn btn-default btn-xl wow tada">Download</a>
          </div>
       <br>
       <br>
    <a rel="license" href="http://creativecommons.org/licenses/by-nc/3.0/it/"><img alt="Licenza Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-nc/3.0/it/88x31.png" /></a><br />Sito, metodologia, logo e risorse di scuolavirtuale sono rilasciati e distribuiti con Licenza <a rel="license" href="http://creativecommons.org/licenses/by-nc/3.0/it/">Creative Commons Attribuzione - Non commerciale 3.0 Italia</a>.
      </div>
  </aside>

