 <aside class="bg-dark">
      <div class="container text-center">
         <div class="call-to-action">
              <h2>Catch the kraken</h2>
              <a href="https://codepen.io/alexandrix/pen/VbeyZO" class="btn btn-default btn-xl wow tada">Catch the kraken</a>
          </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="https://www.gitkraken.com/student-resources">
            <i class="fab fa-gitkraken fa-3x wow bounceIn" data-wow-delay=".9s"></i>
                <p>{{ https://www.gitkraken.com/student-resources }}</p>
            </a>
        </div>
       <p class="codepen" data-height="265" data-theme-id="dark" data-default-tab="css,result" data-user="alexandrix" data-slug-hash="VbeyZO" style="height: 265px; box-sizing: border-box; display: flex; align-items: center; justify-content: center; border: 2px solid black; margin: 1em 0; padding: 1em;" data-pen-title="Squidematics">
  <span>See the Pen <a href="https://codepen.io/alexandrix/pen/VbeyZO/">
  Squidematics</a> by Alex Andrix (<a href="https://codepen.io/alexandrix">@alexandrix</a>)
  on <a href="https://codepen.io">CodePen</a>.</span>
</p>
<script async src="https://static.codepen.io/assets/embed/ei.js"></script>
       <br>
       <br>
          <div class="call-to-action">
              <h2>Download the project</h2>
              <a href="https://github.com/kidscoda/kidscoda.github.io/raw/master/KIDSCODA_il%20progetto.pdf" class="btn btn-default btn-xl wow tada">Download</a>
          </div>
      </div>
  </aside><a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc/4.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">Creative Commons Attribution-NonCommercial 4.0 International License</a>.
