<aside class="bg-dark">
      <div class="container text-center">
          <div class="call-to-action">
              <h2>Leggi il progetto di tesi</h2>
              <a href="https://tesilambertini.github.io/slides.html#1" class="btn btn-default btn-xl wow tada">Progetto di tesi</a>
          </div>
       <br>
       <br>
    <a rel="license" href="http://creativecommons.org/licenses/by-nc/3.0/it/"><img alt="Licenza Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by-nc/3.0/it/88x31.png" /></a><br />Sito, materiale, logo e codice di Tesilambertini sono rilasciati e distribuiti con<br> Licenza <a rel="license" href="http://creativecommons.org/licenses/by-nc/3.0/it/">Creative Commons Attribuzione - Non commerciale 3.0 Italia</a>.
      </div>
  </aside>

