<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">COSA E' UN VROTTO</h2>
                <hr class="light">
              <br>
                <center>
     <img src="img/QR tier 01.jpg" alt="kidscoda box"><br>
                    I vrotti sono animali digitali immaginari con la testa con un QR Code che può essere scansionato da un occhio digitale e collegarti a un luogo che esiste sulla rete.
                    La favola che raccontiamo insieme è fatta di vrotti che vivono nel QRtiere (QR= Quick Response, in inglese risposta rapida e tiere= in tedesco animali), un ecosistema digitale costituito da tutti gli habitat che creiamo per far vivere i vrotti. Chiunque può scegliere la foto di una strada o una piazza del quartiere Pablo e disegnarci o colorarci sopra in digitale l'habitat per il proprio vrotto che può essere un animale da te inventato con come testa un codice QR che lo collega al suo habitat. Semplice no?
                <p class="text-faded">REALTA' VIRTUALE E PROGETTAZIONE PARTECIPATA PER L'INFANZIA</p>
                <a href="#services" class="btn btn-default btn-xl page-scroll">INIZIA ORA!</a>
            </div>
        </div>
    </div>
</section>
