<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">la coproduzione di strumenti e ordine costituito del mondo</h2>
                <hr class="light">
<img src="img/VROTTO.jpg" style="width:300px;height:160px;" alt="vrotto">

                <br>
             C'erano una volta i vrotti. Animali digitali immaginari come li vuoi tu, con un QR come testa, o teste, che può essere scansionato da un occhio digitale (webcam di un computer o fotocamera di uno smart) per collegarti a un luogo del tuo quartiere reinventato come tu vuoi. La favola che raccontiamo insieme è fatta di vrotti che vivono nel QRtiere (QR= Quick Response, in inglese risposta rapida e tiere= in tedesco animali) Pablo, un ecosistema digitale costituito da tutti gli habitat che creiamo per far vivere i vrotti dei nostri sogni e desideri per il quartiere Pablo. Chiunque può scegliere la foto di una strada o una piazza del quartiere Pablo e disegnarci o colorarci sopra. Puoi creare in digitale l'habitat per il tuo vrotto. Ricorda che può essere un animale da te inventato basta che abbia come testa, o teste, un codice QR che lo collega al suo habitat in realtà virtuale. Semplice no?

 <br><br>

UNA FAVOLA IN CUI SI FONDONO REALTA'
E PROGETTAZIONE PARTECIPATA PER L'INFANZIA
   <br>
                <a href="#services" class="btn btn-default btn-xl page-scroll">INIZIA ORA!</a>
            </div>
        </div>
    </div>
</section>
