<section id="contact">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">registra i suoni sott'acqua con noi!</h2>
                <hr class="primary">
            <div class="col-lg-4 col-sm-6">
                <a href="http://360.unipr.it/" class="portfolio-box">
                    <img src="img/treseizero logo 1.6.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                              360.unipr.it  
                            </div>
                            <div class="project-name">
                                Innovazione Digitale e Sociale per l'Apprendimento
                            </div>
                        </div>
                    </div>
                </a>
</div>
       <div class="container">
        <div class="row">         
                <p>Sempre pronti a creare nuovi progetti! 
                    <br>Contattaci!</p>
            </div>
        <div class="col-lg-2 col-lg-offset-2 text-center">
            <a href="https://twitter.com/{{ site.twitter_username }}">
                <i class="fa fa-twitter fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ site.twitter_username }}</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="mailto:monaco.federico@gmail.com">
            <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ monaco.federico@gmail.com }}</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="https://github.com/kidscoda">
            <i class="fa fa-github fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p>{{ https://github.com/kidscoda }}</p>
            </a>
        </div>

    </div>
</section>
