<section id="contact">
    <div class="container">
        <div class="col-lg-2 col-lg-offset-2 text-center">
            <a href="https://www.eventbrite.it">
                <i class="fa fa-calendar fa-3x wow bounceIn" data-wow-delay=".3s"></i>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="mailto:monaco.federico@gmail.com">
            <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".5s"></i>
                <p>{{ monaco.federico@gmail.com }}</p>
            </a>
        </div>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="https://github.com/kidscoda">
            <i class="fa fa-github fa-3x wow bounceIn" data-wow-delay=".7s"></i>
                <p>{{ https://github.com/kidscoda }}</p>
            </a>
        </div>
        <br>
        <div class="col-lg-2 col-lg-offset-1 text-center">
            <a href="https://www.gitkraken.com/student-resources">
            <i class="fab fa-gitkraken fa-3x wow bounceIn" data-wow-delay=".9s"></i>
                <p>{{ https://www.gitkraken.com/student-resources }}</p>
            </a>
        </div>
    </div>
</section>
<i class="fab fa-gitkraken"></i>
