<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>K I D S C O D A</h1>
            <hr>
            <p>Coda è la lingua dei capodogli.
            
                Non sappiamo cosa dicono, ma stiamo imparando..
            
                Anche noi umani usiamo codici...
               
                immergiti nel codice con noi!</p>
            <a href="#about" class="btn-primary btn-xl page-scroll">Vuoi saperne di più?</a>
        </div>
    </div>
</header>
