<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="https://flypaper.soundfly.com/produce/how-to-build-a-diy-hydrophone/" class="portfolio-box">
                    <img src="img/portfolio/4.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                TECHNOLOGY
                            </div>
                            <div class="project-name">
                                Make a hydrophone
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://youtu.be/1OQkdRdfyjI" class="portfolio-box">
                    <img src="img/portfolio/2.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                RESEARCH
                            </div>
                            <div class="project-name">
                                The cultures of whales
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://youtu.be/JM77aTk1XyI" class="portfolio-box">
                    <img src="img/portfolio/4.jpg" class="img-responsive" alt="">
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                FISH EYE
                            </div>
                            <div class="project-name">
                                la scuola vista da un pesce
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
