<center>
     <br><br>
     <img src="https://raw.githubusercontent.com/kidscoda/kidscoda.github.io/master/img/IMG_3987.PNG" alt="kidscoda box">
     <br>
     For the artist communication with nature remains the most essential condition.
     <br>
     The artist is human; himself nature; part of nature within natural space.
     <br>
     Paul Klee
     <br>
    <section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">LA SCUOLA ELEMENTARE RACAGNI COLORATA DA ALUNNI E GENITORI</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-eye wow bounceIn text-primary" data-wow-delay=".3s"></i>
                 
                    <h3>CERCA</h3>
                    <p class="text-muted">trova il panorama della tua classe</p>
                </div>
            </div>
   
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                     <i class="fas fa-dragon wow bounceIn text-primary" data-wow-delay=".7s"></i>
                    <h3>CREATIVITITA'</h3>
                    <p class="text-muted">COME IMMAGINI LA SCUOLA</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-terminal wow bounceIn text-primary" data-wow-delay=".9s"></i>
                    <h3>CODING</h3>
                    <p class="text-muted">SHARE YOUR CODE</p>
                </div>
            </div>
        </div>
    </div>
</section>
