<img src="img/SVlogo.jpg" style="width:300px;height:160px;" alt="sociologiavirtuale">
<center>
    <section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">METODOLOGIA</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-3x fa-qrcode wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>GET INSPIRED</h3>
                    <p class="text-muted">SCEGLI UN PUNTO DI VISTA SUL QUARTIERE</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-3x fa-qrcode wow bounceIn text-primary" data-wow-delay=".3s"></i>    
                    <h3>FIND YOUR VISION</h3>
                    <p class="text-muted">RAPPRESENTALO IN VR</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-3x fa-qrcode wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>CONNECT</h3>
                    <p class="text-muted">RENDILO UNA RETE SOCIALE</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-3x fa-qrcode wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>SHARE</h3>
                    <p class="text-muted">RENDI CIRCOLARE LA TUA ESPERIENZA</p>
                </div>
            </div>
        </div>
    </div>
</section>
</center>
