<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">4 activities/attività in 4 phases/fasi</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
<span class="sr-only">Loading...</span>
                    <h3>CODA</h3>
                    <p class="text-muted">How do spermwhales speak/Come parlano i capodogli</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
<i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
<span class="sr-only">Loading...</span>
                    <h3>SOUNDS/SUONI</h3>
                    <p class="text-muted">Let's play in the water/Suoniamo nell'acqua</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
<span class="sr-only">Loading...</span>
                    <h3>SIMULATION/SIMULAZIONE</h3>
                    <p class="text-muted">Let's communicate at distance just like spermwhales/Comunichiamo a distanza proprio come i capodogli</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
                        <span class="sr-only">Loading...</span>
                    <h3>CODING</h3>
                    <p class="text-muted">Create your code online and share it/Crea il tuo codice online e condividilo</p>
                </div>
            </div>
        </div>
    </div>
</section>
